name: Deploy React App to OCI OKE

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: Oracle

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Log in to OCI Registry
        run: |
          docker login iad.ocir.io \
            -u "idbjsjqzktkm/madhukar.eppalapelly@gmail.com" \
            -p "${{ secrets.OCIR_PASSWORD }}"

      - name: Build and Push Docker Image
        run: |
          docker build -t iad.ocir.io/idbjsjqzktkm/react-app:latest .
          docker push iad.ocir.io/idbjsjqzktkm/react-app:latest

      - name: Set up kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'latest'

      - name: Set up Kubeconfig from Secret
        run: |
          mkdir -p ~/.kube
          echo '${{ secrets.KUBECONFIG_CONTENT }}' > ~/.kube/config
          chmod 600 ~/.kube/config

      - name: Verify Kubernetes Access
        run: |
          kubectl cluster-info
          kubectl get nodes

      - name: Apply Manifests
        run: kubectl apply -f k8s/ --validate=false