name: Auto Deploy to OCI OKE

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install OCI CLI
        run: |
          curl -L https://raw.githubusercontent.com/oracle/oci-cli/master/scripts/install/install.sh | bash -s -- -b $HOME/bin
          export PATH=$HOME/bin:$PATH
          oci --version

      - name: Set up kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'latest'

      - name: Write kubeconfig
        run: |
          echo "${{ secrets.KUBECONFIG }}" > kubeconfig.yaml
          export KUBECONFIG=$(pwd)/kubeconfig.yaml

      - name: Test cluster connection
        run: |
          kubectl config use-context context-ctqffgfubnq
          kubectl get nodes

      - name: Deploy manifests
        run: |
          kubectl apply -f k8s/ --validate=false
